@import 'tailwindcss';

h1 {
    font-size: 2em;
    margin-top: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-top: 0.5em;
}

h3 {
    font-size: 1.25em;
    margin-top: 0.5em;
}

p {
    margin-top: 1em;
}

ul li {
    margin-left: 2em;
    list-style: "⤷ ";
}
